<header class="header">
	<link rel="stylesheet" type="text/css" href="resources/css/_header.scss"></link>
    <div class="header--main">
        <div class="header--main--container">
			
			<div>
	            <div class="user-logo" style="float:left"><img src="resources/img/logo-ekanban.png" alt="Logo" /><div>
	            <div class="user-logo" style=""><img src="resources/img/LogoOrkli.png" alt="Logo" /><div>
            </div>
        </div>
    </div>
</header>