//@import "compass/utilities/general/hacks";
//@import "compass/utilities/general/clearfix";

/* Header main bar */
/** Title part **/
.header {
	margin: 0;
}
.header--main {
	background: $header-main-background;
}
.header--main--container {
	@extend %container;
	@include clearfix2;
    padding-right: 2.5em;
    max-width: none;
	.menu-button {
		width: 41px;
		height: 43px;
		background-color: #e2001a;
		display: inline-block;
		vertical-align: middle;
		border-radius: 0 5px 5px 0;
		cursor: pointer;
		color: white;
		font-size: 1.5em;
    	padding-left: 0.35em;
    	padding-top: 0.2em;
        z-index: 12;
    	&:hover {
			background-color: #F66;
		}
		&:active {
			background-color: #e2001a;
		}
    	.menu-label{
            background-color: #e2001a;
            border-radius: 0 5px 5px 0;
            color: white;
            cursor: pointer;
            font-size: 0.8em;
            font-weight: bold;
            height: 43px;
            left: -75px;
            top: -40px;
            position: relative;
            line-height: 2.6em;
            text-align: center;
            width: 86px;
            vertical-align: middle;
            visibility: hidden;
            z-index: 1;
    	}
    }
	.header--main--title-container {
		display: inline-block;
        vertical-align: middle;
	}
	.header--main--title {
		background: url(#{$image-path}/logo-ekanban.png) no-repeat 20px 28px;
		display: block;
		//float: left;
		height: 98px;
		width: 475px;
		//margin-left: 70px;
		@include mq($from: mobile, $until: desktop) {
			//background: url(#{$image-path}/logo-ulma-mobile.png) no-repeat 15px 5px;
			width: 175px;
			height: 60px;
			background-position: 0 10px;
		}
		@include mq($until: mobile) {
			background: url(#{$image-path}/logo-ekanban-mobile.png) no-repeat 0 13px;
			height: 60px;
			width: 40px;
		}
		&:hover {
			opacity: 0.6;
		}
	}
	.user-logo {
		float: right;
		margin: 25px 0;
		@include mq($until: desktop) {
			margin: 10px 0;
		}
        img {
            max-width: 160px;
        }
	}
}

.show-menu-label {
    /* Chrome, Safari, Opera */
    -webkit-animation-name:showlabel;
    -webkit-animation-duration:0.5s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-iteration-count:1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    /* Firefox */
    -moz-animation-name:showlabel;
    -moz-animation-duration:0.5s;
    -moz-animation-timing-function:linear;
    -moz-animation-iteration-count:1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
    /* IE */
    -ms-animation-name:showlabel;
    -ms-animation-duration:0.5s;
    -ms-animation-timing-function:linear;
    -ms-animation-iteration-count:1;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: forwards;
    /* Standard syntax */
    animation-name:showlabel;
    animation-duration:0.5s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.hide-menu-label {
    /* Chrome, Safari, Opera */
    -webkit-animation-name:hidelabel;
    -webkit-animation-duration:0.5s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-iteration-count:1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    /* Firefox */
    -moz-animation-name:hidelabel;
    -moz-animation-duration:0.5s;
    -moz-animation-timing-function:linear;
    -moz-animation-iteration-count:1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
    /* IE */
    -ms-animation-name:hidelabel;
    -ms-animation-duration:0.5s;
    -ms-animation-timing-function:linear;
    -ms-animation-iteration-count:1;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: forwards;
    /* Standard syntax */
    animation-name:hidelabel;
    animation-duration:0.5s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes showlabel
{
    from {left: -75px; visibility: none;}
    to   {left: 30px; visibility: visible;}
}

/* Standard syntax */
@keyframes showlabel
{
    from {left: -75px; visibility: none;}
    to   {left: 30px; visibility: visible;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes hidelabel
{
    from {left: 30px; visibility: visible;}
    to 	 {left: -75px; visibility: none;}
}

/* Standard syntax */
@keyframes hidelabel
{
    from {left: 30px; visibility: visible;}
    to 	 {left: -75px; visibility: none;}
}