@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?6sysed');
	src:url('fonts/icomoon.eot?6sysed#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?6sysed') format('truetype'),
		url('fonts/icomoon.woff?6sysed') format('woff'),
		url('fonts/icomoon.svg?6sysed#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"], %icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-parts:before {
  content: "\e600";
}
.icon-brass-bars:before {
  content: "\e601";
}
.icon-agility:before {
  content: "\e602";
}
.icon-alert:before {
  content: "\e603";
}
.icon-arrow--select:before {
  content: "\e604";
}
.icon-arrow-next--slider:before {
  content: "\e605";
}
.icon-arrow-prev--slider:before {
  content: "\e606";
}
.icon-cards--consumed:before {
  content: "\e607";
}
.icon-cards--preparing:before {
  content: "\e608";
}
.icon-cards--transit:before {
  content: "\e609";
}
.icon-cards--warehouse:before {
  content: "\e60a";
}
.icon-check--checked:before {
  content: "\e60b";
}
.icon-check--unchecked:before {
  content: "\e60c";
}
.icon-checkmark:before {
  content: "\e60d";
}
.icon-close:before {
  content: "\e60e";
}
.icon-confirmation:before {
  content: "\e60f";
}
.icon-demo:before {
  content: "\e610";
}
.icon-e-mail:before {
  content: "\e611";
}
.icon-efficiency:before {
  content: "\e612";
}
.icon-file--pdf:before {
  content: "\e613";
}
.icon-flexibility:before {
  content: "\e614";
}
.icon-format:before {
  content: "\e615";
}
.icon-hamburguer:before {
  content: "\e616";
}
.icon-id:before {
  content: "\e617";
}
.icon-infinite:before {
  content: "\e618";
}
.icon-info:before {
  content: "\e619";
}
.icon-integrate:before {
  content: "\e61a";
}
.icon-logout:before {
  content: "\e61b";
}
.icon-ok:before {
  content: "\e61c";
}
.icon-pallet:before {
  content: "\e61d";
}
.icon-pause:before {
  content: "\e61e";
}
.icon-petitions:before {
  content: "\e61f";
}
.icon-phone:before {
  content: "\e620";
}
.icon-play:before {
  content: "\e621";
}
.icon-quality:before {
  content: "\e622";
}
.icon-reference--sheet:before {
  content: "\e623";
}
.icon-references:before {
  content: "\e624";
}
.icon-status--alert:before {
  content: "\e625";
}
.icon-status--critical:before {
  content: "\e626";
}
.icon-status--ok:before {
  content: "\e627";
}
.icon-stock-adjust:before {
  content: "\e628";
}
.icon-table-sort--down:before {
  content: "\e629";
}
.icon-table-sort--up:before {
  content: "\e62a";
}
.icon-tablesaw-sort--down:before {
  content: "\e62b";
}
.icon-tablesaw-sort--up:before {
  content: "\e62c";
}
.icon-box:before {
  content: "\e62d";
}
.icon-evolution:before {
  content: "\e62e";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-copy:before {
  content: "\e900";
}
.icon-file-excel:before {
  content: "\e901";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-search:before {
  content: "\e986";
}

