body{
	font-size: 13px !important;
  font-family:Roboto,sans-serif !important;
}
table td, table th {
/*   border: 1px solid #AAAAAA; */
  padding: 3px 2px;
}
table tbody td {
  font-size: 13px;
  font-family:Roboto,sans-serif;
}

.RowInactivo
{
    background-image: -webkit-linear-gradient(-90deg,    transparent 0%,    transparent 50%, white 50%, white 100%),
                  -webkit-linear-gradient(  0deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,.1) 50%, white 50%, white 100%) !important;
	background-size:.25em .25em !important;
	color: red !important;
}